<div class="container p-4 text-center">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center mb-5">
                <div class="card-body">
                    <h3>Welcome {{user.nombre}}</h3>
                    <p class="p-2"><strong>Correo: </strong>{{user.email}}</p>
                    <p class="p-2"><strong>Centro: </strong>{{centro.nombre}}</p>
                    <a href="/asesoria/add" class="btn btn-primary">Crea una asesoría</a>
                </div>
            </div>
        </div>
    </div>
</div>