

<div class="container p-4 text-center">
    <h1 class="mb-5">Agregar Asesoría</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/asesoria/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="materia" id="" class="form-control" placeholder="Materia" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lugar" id="" class="form-control" placeholder="Lugar">
                        </div>
                        <div class="form-group">
                            <textarea  name="descripcion" id="" placeholder="Descripción Asesoría" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="dia">Elige el día: </label>
                            <select name="dia" id="" class="form-control">
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miércoles">Miércoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sábado">Sábado</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora: </label>
                            <input type="time" name="hora" id="" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                        <div class="" id="banner">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h2>Aqui va la lista</h2>
        </div>
    </div>
</div>
