<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Asesorías Universitarias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Asesorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/asesoria/add">Crear Asesoría</a>
              <a class="dropdown-item" href="/asesoria/list_asesor">Mis Asesorías (Libres)</a>
              <a class="dropdown-item" href="/asesoria/list_asesor_tomadas">Mis Asesorías (Tomadas)</a>
              <a class="dropdown-item" href="/asesoria/list_asesorado">Asesorías (Asesorado)</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Salir</a>
          </li>
      {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarme</a>
          </li>
      {{/if}}
    </ul>
  </div>
</nav>